<nav class="navbar

navbar-expand-sm

navbar-light

bg-light

shadow

fixed-top">

  <div class="container">

    <a class="navbar-brand" href="#">Leaguistic LK</a>
      <!-- set up nav bar -->
    <div class="" id="navbarResponsive">

      <ul class="navbar-nav

      ml-auto">

        <li class="nav-item

        active">
          <!-- set up home link set it to current page using routerLink -->
          <a class="nav-link"

             routerLink = "">Home<span class="sr-only">(current)</span></a>

        </li>

        <li class="nav-item">

            <!-- set up route to premier league manager -->

          <a class="nav-link"

             routerLink = "league">Premier League Table</a>

        </li>

        <li class="nav-item">

            <!-- set up route to match table -->
          <a class="nav-link"

             routerLink = "match">Match Table</a>

        </li>

        <li class="nav-item">

            <!-- set up route to help view -->
          <a class="nav-link"

             routerLink = "help">Help</a>

        </li>

      </ul>

    </div>

  </div>

</nav>
