<header class="mastheader">
    <!-- mastheader for set up home page background information  -->

  <div class="container h-100">

    <div class="row

    h-100

    align-items-center">

      <div class="col-12

      text-center

      text-white">
          <!-- set up home title -->
        <h1 class="font-weight-bold

        head">LEAGUISTIC LK</h1>

          <!-- set tag line -->
        <p class="lead">Leaguistic is a premier league management software providing various kinds of management tools for premier league matches. </p>

      </div>

    </div>

  </div>

</header>
