.button {
    -fx-background-color: rgba(0,0,0,0.5);
    -fx-text-fill: white;
    -fx-font-size: 17;
    -fx-text-alignment: center;
    -fx-pref-width: 150px;
}
.button:hover {
    -fx-opacity: 0.7 ;
    -fx-background-color: rgba(0,0,0,0.9);
    -fx-text-fill: white;
    -fx-font-weight: bolder;
    -fx-pref-width: 150px;
}
.pane {
    -fx-background-color: rgb(255, 255, 255);
}